/* Main Stuff */

body {
  background-color: #121212;
  height: 500vh;
}
.sideBar {
  background-color: #212121;
  border: transparent;
  width: 10%;
  height: 15%;
  position: fixed;
  left: 10px;
  color: white;
  font-size: 100%;
  font-family: "Anton", sans-serif;
  text-align: center;
}

.sideBar:hover {
  background-color: hsl(0, 0%, 50%);
}

.sideBar:active {
  background-color: hsl(0, 0%, 20%);
}

#shop {
  top: 100px;
}
#about {
  top: 192px;
}

#help {
  top: 284px;
}

#menuButton {
  background-color: #212121;
  border: transparent;
  position: fixed;
  font-size: 50px;
  left: 200px;
}

/* Home Page */

/* Shop */

#clicker {
  background-color: #212121;
  position: absolute;
  border: transparent;
  left: 200px;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
}

#upgrade {
  background-color: #212121;
  position: absolute;
  border: transparent;
  left: 500px;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
}
/* About */

#about1 {
  position: absolute;
  color: white;
  left: 150px;
  font-size: 150%;
  font-family: "Roboto", sans-serif;
}

#pfp {
  position: absolute;
  left: 250px;
  top: 200px;
}

/* Help */

.socialMedia {
  background-color: 121212;
  position: absolute;
  left: 250px;
}

#insta {
  height: 75px;
  width: 75px;
}

#twitter {
  height: 75px;
  width: 75px;
}

#yt {
  height: 75px;
  width: 75px;
}
